/* General CSS That Affects All*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

body::-webkit-scrollbar,
div::-webkit-scrollbar,
select::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
    background: #aeaeae;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
    background: #e3ebf6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

* {
    font-family: "Fira Sans", sans-serif !important;
    font-weight: 500 !important;
    font-size: 0.95rem !important;
    letter-spacing: 0.2px !important;
    color: #03001e;
}

#newArrival,
#trending,
#scrubs {
    width: 100%;
    height: 350px;
}

.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item > div {
    display: none;
}
.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item > div:first-child {
    display: block;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /*  */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-next,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-prev {
        display: flex;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item > div:first-child {
        display: flex;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-end.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-next {
        transform: translateX(20%);
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-start.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-prev {
        transform: translateX(-20%);
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-end,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-start {
        transform: translateX(0);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*  */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .w_1200 {
        max-width: 1200px;
        margin: auto;
    }

    .body {
        min-height: calc(100vh - 250px);
    }

    .header_bottom {
        background-image: radial-gradient(circle 610px at 5.2% 51.6%, rgba(7, 3, 53, 1) 0%, rgba(5, 8, 114, 1) 97.5%);
        /* background-image: linear-gradient(109.6deg, rgba(9, 9, 121, 1) 11.2%, rgba(144, 6, 161, 1) 53.7%, rgba(0, 212, 255, 1) 100.2%); */
        padding: 0.18rem 0;
        min-height: 1.5rem;
    }

    .header_bottom ul {
        max-width: 1200px;
        list-style: none;
        padding: 0;
        margin: auto;
    }

    .header_bottom ul.h_list > li:not(.dropdown-item) button,
    #accessory_menu,
    #footwear_menu {
        color: #fff;
        text-decoration: none;
        font-size: 1rem !important;
    }

    #accessory_menu::after,
    #footwear_menu::after {
        display: none;
    }

    .menu {
        font-weight: 400 !important;
    }

    .logo a > h4,
    .logo > h4 {
        font-size: 2.8rem !important;
        font-weight: 700 !important;
        margin-bottom: 0.5rem !important;
    }

    .ht_wrapper > div:nth-child(2) {
        width: 80%;
    }

    .social > div {
        padding-left: 0.8rem;
    }

    .ln_0 > p {
        font-size: 0.85rem;
    }

    .d_search_bar {
        width: 50%;
    }

    .d_search_bar .form-control {
        border-right: 0;
    }

    .d_search_bar .input-group-text {
        padding: 0.2rem 0.3rem;
        background-color: transparent;
        border-left: 0;
    }

    .form-control {
        padding: 0.3rem 0.75rem;
        font-size: inherit !important;
    }

    .ln_1 > div {
        margin-left: 2rem;
    }

    .ln_1 p {
        margin: 0;
        padding-top: 0.08rem;
        font-size: 1rem !important;
    }

    .ad1 {
        width: 25%;
    }

    .ad1 > div {
        width: 100%;
        height: calc((100% / 3) - 0.6rem);
    }

    .intro {
        flex-basis: calc((100% / 3) - 1rem);
        text-align: center;
        text-transform: uppercase;
        font-size: 1.1rem !important;
        font-weight: 800 !important;
        color: #adc0cf;
    }

    .line {
        background-color: #adc0cf;
        height: 1px;
        margin: auto;
    }

    .lft {
        width: 20%;
    }

    .lft .accordion {
        margin-bottom: 0.8rem;
    }

    .lft .accordion-body {
        padding-left: 0;
    }

    .lft .accordion-button,
    .lv_1 .accordion-button {
        font-weight: 700 !important;
        font-size: 0.9rem !important;
    }

    .lft > h4 {
        color: #999;
        font-size: 0.8rem !important;
        text-transform: uppercase;
        margin-bottom: 0.8rem;
        margin-top: 0.5rem;
    }

    .lft .accordion-header {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .rgt,
    #hm_banner {
        width: 73.5%;
    }

    .b_list,
    .c_list,
    .s_list,
    .f_list,
    .cp_list,
    .wp_list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .f_list li {
        padding: 0.43rem 0.5rem;
    }

    .h_list > li:not(.dropdown-item) {
        padding: 0.2rem 0.5rem 0.2rem 0;
        margin: auto 2.2rem auto 0;
    }

    .header_bottom ul.h_list > li:not(.dropdown-item) button::after {
        display: none;
    }

    ul.h_list > li:not(.dropdown-item) > a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 500 !important;
        font-size: 1.05rem !important;
    }

    /* .h_list li:hover {
        background-color: rgba(3, 0, 31, 0.8);
        color: #ffffff;
        border-radius: 10px 0 0 5px;
    } */

    .f_list li:hover {
        text-decoration: underline;
    }

    .cp_list li {
        width: 100%;
        height: 138px;
    }

    .cat .accordion-button::after {
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E") center no-repeat;
        transform: none;
    }

    .lv_1 .accordion-body {
        padding: 0.4rem 0.2rem;
    }

    .lv_1 {
        height: 465px;
    }

    .b_list li {
        display: inline-block;
        margin-bottom: 0.5rem;
        padding: 0.4rem 0.63rem;
        border-radius: 0.3rem;
        font-size: 0.8rem !important;
        font-weight: 500 !important;
        font-family: "Poppins", sans-serif !important;
    }

    .c_list li {
        display: inline-block;
        margin-bottom: 0.5rem;
        margin-right: 0.2rem;
        padding: 1.064rem;
        border: 1px solid rgba(128, 128, 128, 0.589);
        border-radius: 50%;
    }

    .s_list li {
        display: inline-block;
        margin-bottom: 0.5rem;
        padding: 0.3rem 0.8rem;
        border: 1px solid rgba(128, 128, 128, 0.589);
        border-radius: 0.3rem;
        font-size: 0.8rem !important;
        font-weight: 500 !important;
        font-family: "Poppins", sans-serif !important;
    }

    .b_list li:hover {
        background-color: rgba(3, 0, 31, 0.8);
        color: #fff;
    }

    #avail_select label {
        font-size: 0.8rem !important;
        font-weight: 500 !important;
        font-family: "Poppins", sans-serif !important;
    }

    #hd_banner {
        width: 100%;
        height: 70vh;
    }

    #pd_banner {
        width: 100%;
        height: 60vh;
    }

    .home .grid {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        column-gap: 1rem;
    }

    .category .grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .grid a,
    .grid svg,
    .c-btm a,
    .c-btm button,
    .w-btm a,
    .cp_list button:not(.btn-close),
    .wp_list button:not(.btn-close) {
        border-color: #adc0cf;
        color: #adc0cf;
        fill: #adc0cf;
        font-size: 0.9rem !important;
        background-color: transparent;
    }

    .grid a:hover,
    .c-btm a:hover,
    .c-btm button:hover,
    .w-btm a:hover,
    .cp_list button:not(.btn-close):hover,
    .wp_list button:not(.btn-close):hover {
        background-color: rgba(3, 0, 31, 0.8);
        color: #ffffff;
        fill: #ffffff;
    }

    .grid a:hover svg {
        fill: #ffffff;
    }

    .card {
        border: 0;
        height: 350px;
    }

    .imgcont {
        height: 65%;
        margin: auto;
    }

    .banner {
        width: 100%;
        height: 360px;
        background-image: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
    }

    footer {
        min-height: 400px;
        background-color: rgba(3, 0, 31, 0.8);
    }

    footer * {
        color: #ffffff !important;
    }

    .f-top > div {
        width: calc((100% / 3) - 2rem);
    }

    .f-top h2 {
        font-size: 1.15rem !important;
        position: relative;
    }

    .f1::after {
        content: " ";
        width: 90px;
        height: 1.5px;
        background-color: red;
        position: absolute;
        bottom: -6px;
        left: 0.5rem;
    }

    .f2::after {
        content: " ";
        width: 100px;
        height: 1.5px;
        background-color: red;
        position: absolute;
        bottom: -6px;
        left: 1rem;
    }

    .f3::after {
        content: " ";
        width: 220px;
        height: 1.5px;
        background-color: red;
        position: absolute;
        bottom: -6px;
        left: 0;
    }

    .f-bottom {
        background-color: #03001e;
        height: 52px;
    }

    #cartlistLabel,
    #wishlistLabel {
        font-size: 1.15rem !important;
        margin: 0;
        font-weight: 700 !important;
    }

    .item_count span {
        font-size: 0.8rem !important;
        font-family: "Poppins", sans-serif !important;
        font-weight: 400 !important;
    }

    header button > svg {
        margin-top: 0.05rem;
        margin-right: 0.65rem;
    }

    .c-mid p,
    .w-mid p,
    .cp_list li p {
        font-size: 0.9rem !important;
        font-weight: 400 !important;
    }

    .c-mid p:first-child,
    .w-mid p:first-child,
    .cp_list li p:first-child {
        font-size: 0.95rem !important;
        font-weight: 500 !important;
    }

    .c-mid > div > div,
    .w-mid > div > div {
        border-bottom: 1px solid #ced4daba;
        height: 8.75rem;
    }

    .c-top,
    .w-top {
        height: 5%;
    }

    .c-mid {
        height: 65%;
        overflow-y: auto;
    }

    .w-mid {
        height: 84%;
        overflow-y: auto;
    }

    .c-btm {
        height: 30%;
    }

    .w-btm {
        height: 10%;
    }

    .c-btm label,
    .w-btm label {
        font-size: 0.85rem !important;
        font-weight: 400 !important;
        padding-top: 0.2rem;
    }

    .wp_list > li,
    .cp_list > li {
        border: 1px solid rgba(128, 128, 128, 0.3);
    }

    .heading {
        font-size: 1.05rem !important;
        text-transform: uppercase;
        font-weight: 600 !important;
        font-family: "Poppins", sans-serif !important;
    }

    .wishlist .input-group > .form-control,
    .cartlist .input-group > .form-control,
    .product .input-group > .form-control {
        flex: 0.1 1 auto;
    }

    .cartlist option,
    .product option {
        font-size: 1.15rem !important;
        font-weight: 400 !important;
    }

    .cartlist select,
    .product select {
        font-weight: 400 !important;
    }

    .cartlist .dropdown-center button,
    .product .dropdown-center button {
        color: inherit !important;
        background-color: transparent;
        border: 1px solid rgba(128, 128, 128, 0.3);
        text-align: start;
        font-weight: 400 !important;
    }

    .cartlist .dropdown-center button::after,
    .product .dropdown-center button::after {
        margin-left: calc(100% - 53px);
    }

    .cartlist .dropdown-menu li a,
    .product .dropdown-menu li a {
        text-align: start;
        font-weight: 400 !important;
    }
}
