/* General CSS That Affects All*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar,
select::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
    background: #aeaeae;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
    background: #e3ebf6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

* {
    font-family: "Fira Sans", sans-serif !important;
    font-weight: 500 !important;
    font-size: 0.95rem !important;
    letter-spacing: 0.5px !important;
    color: #03001e !important;
}

#newArrival,
#trending,
#scrubs {
    width: 100%;
    height: max-content;
}

.body {
    width: 100%;
    min-height: calc(100vh - 250px);
}

.w_1200 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.lg_mid {
    height: calc(100vh - 170px);
    padding-top: 1rem !important;
}

.sg_mid {
    height: calc(100vh - 170px);
    padding-top: 1rem !important;
}

.lg_mid > div {
    width: 100%;
}

.sg_mid > div:first-child {
    width: 40%;
}

.sg_mid > div:nth-child(2) {
    width: 100%;
}

.sg_mid > div:nth-child(2) > form > div,
.lg_mid > div:nth-child(2) > form > div {
    width: 100%;
}

.sg_mid > div:nth-child(2) > form > div:first-child > div {
    width: 100%;
}

.lg_mid h3,
.sg_mid h3 {
    font-size: 2.7rem !important;
    font-weight: 400 !important;
    line-height: 3.7rem;
}

.lg_mid p,
.sg_mid p {
    font-size: 0.85rem !important;
    font-family: unset !important;
    font-weight: 400 !important;
}

.login .f-bottom,
.signup .f-bottom,
.verify .f-bottom {
    background-color: transparent !important;
}

.lv_1 {
    flex-direction: column;
    height: max-content;
}

.ad1 > div {
    margin-bottom: 1rem;
}

.lv_1 > div:first-child {
    height: 15rem;
    margin-bottom: 1rem;
}

#hm_banner {
    height: 100%;
}

footer {
    min-height: 400px;
    background-color: rgba(3, 0, 31, 0.8);
}

.login footer {
    min-height: unset;
    background-color: unset;
}

footer * {
    color: #ffffff !important;
}

.f-bottom {
    background-color: #03001e;
    height: 52px;
}

.f-bottom div {
    text-align: center;
    font-size: 0.85rem !important;
}

.f-top > div {
    width: 100%;
}

.f-top > div:nth-child(2),
.f-top > div:nth-child(3) {
    padding-top: 3rem;
}

.f-top h2 {
    font-size: 1.15rem !important;
    position: relative;
}

.f1::after {
    content: " ";
    width: 90px;
    height: 1.5px;
    background-color: red;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.f2::after {
    content: " ";
    width: 100px;
    height: 1.5px;
    background-color: red;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.f3::after {
    content: " ";
    width: 220px;
    height: 1.5px;
    background-color: red;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.logo {
    width: 20%;
}

.logo a > h4,
.logo > h4 {
    font-size: 3rem !important;
    font-weight: 700 !important;
    margin-bottom: 0.5rem !important;
}

.b_list,
.c_list,
.s_list,
.f_list,
.cp_list,
.wp_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.f_list li {
    padding: 0.43rem 0;
}

.f_list li:hover {
    text-decoration: underline;
}

.social > div {
    padding-left: 0.8rem;
}

.intro {
    flex-basis: calc(100% / 3);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem !important;
    font-weight: 800 !important;
    color: #adc0cf !important;
}

.line {
    background-color: #adc0cf;
    height: 1px;
    margin: auto;
}

.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div {
    display: none;
}

.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div:first-child,
.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div:nth-child(2) {
    display: flex;
}

.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-end.active,
.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-next {
    transform: translateX(50%);
}

.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-start.active,
.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-prev {
    transform: translateX(-50%);
}

.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-end,
.home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-start {
    transform: translateX(0);
}

.banner {
    width: 100%;
    height: 360px;
    background-image: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
    margin: 1.5rem 0 2.5rem;
}

.home .grid,
.product .grid,
.category .grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}

.grid svg {
    width: 100%;
    height: 100%;
}

.grid a,
.grid svg,
.c-btm a,
.c-btm button,
.w-btm a,
.cp_list button:not(.btn-close),
.wp_list button:not(.btn-close) {
    border-color: #adc0cf;
    color: #adc0cf !important;
    fill: #adc0cf;
    font-size: 0.8rem !important;
    background-color: transparent;
}

.grid a:hover,
.c-btm a:hover,
.c-btm button:hover,
.w-btm a:hover,
.cp_list button:not(.btn-close):hover,
.wp_list button:not(.btn-close):hover {
    background-color: rgba(3, 0, 31, 0.8);
    color: #ffffff;
    fill: #ffffff;
}

.grid a:hover svg {
    fill: #ffffff;
}

.imgcont {
    /* height: 70%; */
    height: max-content;
    width: 100%;
    margin: auto;
}

.card {
    border: 0;
    /* height: 460px; */
    height: max-content;
    margin-bottom: 2.5rem !important;
}

.card-body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ht_wrapper > div:nth-child(2) {
    width: 100%;
    flex-direction: row-reverse;
}

.ln_1 {
    width: 100%;
    padding: 1rem 0 0.8rem;
}

.verify .ln_1,
.verify .form-label {
    visibility: hidden;
}

.d_search_bar {
    width: 100%;
}

.d_search_bar .form-control {
    border-right: 0;
}

.d_search_bar .input-group-text {
    padding: 0.2rem 0.3rem;
    background-color: transparent;
    border-left: 0;
}

.form-control {
    padding: 0.3rem 0.75rem;
    font-size: inherit !important;
}

.ln_1 > div:nth-child(2) {
    justify-content: space-between;
    margin-bottom: 1.5rem;
    /* border: 1px solid red; */
}

.ln_1 > div:nth-child(2) > div:nth-child(2) h3 {
    font-size: 1.5rem !important;
    padding-left: 1.5rem;
    font-weight: 700 !important;
}

.ln_1 > div:nth-child(2) > div:nth-child(3) {
    flex-direction: row-reverse;
}

.ln_1 > div:nth-child(2) > div:nth-child(3) > div {
    margin-left: 0.4rem;
}

.ln_1 p {
    margin: 0;
    padding-top: 0.08rem;
    font-size: 0.9rem !important;
}

.m_menu {
    width: 23px;
    height: 35px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E") center no-repeat;
    transform: none;
}

.lv_3 > div:first-child,
.lv_4 > div:first-child,
.lv_5 > div:first-child,
.lv_6 > div:first-child,
.lv_7 > div:first-child {
    margin: 1.5rem 0 2rem;
}

.lv_3 > div:nth-child(2) .imgcont,
.lv_4 > div:nth-child(2) .imgcont,
.lv_5 > div:nth-child(2) .imgcont,
.lv_6 > div:nth-child(2) .imgcont,
.lv_7 > div:nth-child(2) .imgcont {
    padding-bottom: 0.5rem;
}

#pd_banner {
    width: 100%;
    height: 13rem;
}

.category {
    padding-top: 1rem;
}

.heading {
    font-size: 1rem !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif !important;
}

.b_list li {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.63rem;
    border-radius: 0.3rem;
    font-size: 0.8rem !important;
    font-weight: 500 !important;
    font-family: "Poppins", sans-serif !important;
}

.c_list li {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-right: 0.2rem;
    padding: 1.064rem;
    border: 1px solid rgba(128, 128, 128, 0.589);
    border-radius: 50%;
}

.s_list li {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.8rem;
    border: 1px solid rgba(128, 128, 128, 0.589);
    border-radius: 0.3rem;
    font-size: 0.8rem !important;
    font-weight: 500 !important;
    font-family: "Poppins", sans-serif !important;
}

.b_list li:hover {
    background-color: rgba(3, 0, 31, 0.8);
    color: #fff;
}

.rgt .accordion-body {
    padding-left: 0;
}

.rgt .offcanvas-start .btn-close {
    position: absolute;
    top: 1px;
    right: -43px;
    border-radius: 0;
    padding: 0.7em 0.7em;
    margin: 0;
    background: #050872 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") center/1em auto no-repeat;
    opacity: 1;
}

.offcanvas-end .offcanvas-header .btn-close {
    position: absolute;
    top: 1px;
    left: -35px;
    border-radius: 0;
    padding: 0.7em 0.7em;
    margin: 0;
    background: #050872 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") center/1em auto no-repeat;
    opacity: 1;
}

.cartlist .container > div:nth-child(2),
.product .container > div > div:nth-child(2),
.product .container > div:first-child > div:nth-child(2) > div:first-child {
    flex-direction: column;
}

.cp_list > li .col-1,
.cp_list > li > div > div > div,
.wp_list > li .col-1,
.wp_list > li > div > div > div {
    margin: auto 0 !important;
}

.cp_list .col-6,
.wp_list .col-6 {
    flex-direction: column;
}

.cp_list .col-6 > div:nth-child(3),
.wp_list .col-6 > div:nth-child(3) {
    width: 60%;
}

.pd_lft-2 .input-group {
    width: 30%;
}

.wp_list > li,
.cp_list > li {
    border: 1px solid rgba(128, 128, 128, 0.3);
    height: 190px;
}

.cartlist .dropdown-center button,
.product .dropdown-center button {
    color: inherit !important;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.3);
    text-align: start;
    font-weight: 400 !important;
}

.cartlist .dropdown-center button::after,
.product .dropdown-center button::after {
    margin-left: calc(100% - 53px);
}

.wp_list > li > div > div:first-child {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    * {
        font-size: 1rem !important;
    }

    .home .grid,
    .product .grid,
    .category .grid {
        grid-template-columns: auto auto auto;
    }

    .grid svg {
        width: 80%;
        height: 90%;
    }

    .grid a,
    .grid svg,
    .c-btm a,
    .c-btm button,
    .w-btm a,
    .cp_list button:not(.btn-close),
    .wp_list button:not(.btn-close) {
        font-size: 0.9rem !important;
    }

    .pd_lft-2 .input-group {
        width: 20%;
    }

    .lv_1 > div:first-child {
        height: 25rem;
    }

    .wp_list > li,
    .cp_list > li {
        height: 250px;
    }

    #pd_banner {
        width: 100%;
        height: 20rem;
    }

    .cp_list .col-6 > div:nth-child(3),
    .wp_list .col-6 > div:nth-child(3) {
        width: 30%;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div {
        display: none;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div:first-child,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div:nth-child(2),
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div:nth-child(3) {
        display: flex;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-next,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-prev {
        display: flex;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-end.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-next {
        transform: translateX(33.333%);
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-start.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-prev {
        transform: translateX(-33.333%);
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-end,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-start {
        transform: translateX(0);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    * {
        font-size: 1.05rem !important;
    }

    .home .grid,
    .product .grid,
    .category .grid {
        grid-template-columns: auto auto auto;
    }

    .grid svg {
        width: 80%;
        height: 100%;
    }

    .grid a,
    .grid svg,
    .c-btm a,
    .c-btm button,
    .w-btm a,
    .cp_list button:not(.btn-close),
    .wp_list button:not(.btn-close) {
        font-size: 1rem !important;
    }

    .grid a:hover,
    .c-btm a:hover,
    .c-btm button:hover,
    .w-btm a:hover,
    .cp_list button:not(.btn-close):hover,
    .wp_list button:not(.btn-close):hover {
        background-color: rgba(3, 0, 31, 0.8);
        color: #ffffff;
        fill: #ffffff;
    }

    .grid a:hover svg {
        fill: #ffffff;
    }

    .ln_1 > div:nth-child(2) > div:nth-child(2) h3 {
        font-size: 2rem !important;
    }

    .ln_1 > div:nth-child(2) > div:nth-child(3) > div {
        margin-left: 0.7rem;
    }

    .wp_list > li > div > div:first-child {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .wp_list > li,
    .cp_list > li {
        height: 250px;
    }

    .product .container > div:first-child > div:nth-child(2) > div:first-child {
        flex-direction: row;
    }

    .pd_lft-2 .input-group {
        width: 40%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    * {
        font-size: 0.95rem !important;
    }

    .header_bottom {
        background-image: radial-gradient(circle 610px at 5.2% 51.6%, rgba(7, 3, 53, 1) 0%, rgba(5, 8, 114, 1) 97.5%);
        padding: 0.18rem 0;
        min-height: 1.5rem;
    }

    .header_bottom ul {
        max-width: 1200px;
        list-style: none;
        padding: 0;
        margin: auto;
    }

    .f-bottom div {
        text-align: right;
    }

    .header_bottom ul.h_list > li:not(.dropdown-item) button,
    #accessory_menu,
    #footwear_menu {
        color: #fff !important;
        text-decoration: none;
        font-size: 1rem !important;
    }

    #accessory_menu::after,
    #footwear_menu::after {
        display: none;
    }

    .menu {
        font-weight: 400 !important;
    }

    .ht_wrapper > div:nth-child(2) {
        width: 80%;
    }

    .social {
        padding-left: 0;
    }

    .ln_1 {
        flex-direction: row;
        padding: 1rem 0;
    }

    .ln_1 > div:nth-child(2) > div:nth-child(3) {
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
    }

    .d_search_bar {
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .d_search_bar .form-control {
        border-right: 0;
    }

    .d_search_bar .input-group-text {
        padding: 0.2rem 0.3rem;
        background-color: transparent;
        border-left: 0;
    }

    .form-control {
        padding: 0.3rem 0.75rem;
        font-size: inherit !important;
    }

    .ln_1 > div:nth-child(2) {
        justify-content: flex-end;
        margin-bottom: 0;
    }

    .ln_1 > div:nth-child(2) > div:nth-child(3) > div {
        margin-left: 2rem;
    }

    .ln_1 > div:nth-child(2) > div:nth-child(3) > div svg {
        margin-right: 0.7rem !important;
    }

    .ln_1 p {
        margin: 0;
        padding-top: 0.08rem;
        font-size: 1rem !important;
    }

    .ad1 {
        width: 25%;
    }

    .ad1 > div {
        width: 100%;
        height: calc((100% / 3) - 0.6rem);
    }

    .lft {
        width: 20%;
    }

    .lft .accordion {
        margin-bottom: 0.8rem;
    }

    .lft .accordion-body {
        padding-left: 0;
    }

    .lft .accordion-button,
    .lv_1 .accordion-button {
        font-weight: 700 !important;
        font-size: 0.85rem !important;
    }

    .lft > h4 {
        color: #999;
        font-size: 0.8rem !important;
        text-transform: uppercase;
        margin-bottom: 0.8rem;
        margin-top: 0.5rem;
    }

    .lft .accordion-header {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .rgt {
        width: 73.5%;
        padding-top: 1.5rem;
    }

    .lv_1 > div:first-child {
        width: 73.5%;
    }

    .h_list > li:not(.dropdown-item) {
        padding: 0.2rem 0.5rem 0.2rem 0;
        margin: auto 2.2rem auto 0;
    }

    .header_bottom ul.h_list > li:not(.dropdown-item) button::after {
        display: none;
    }

    ul.h_list > li:not(.dropdown-item) > a {
        color: #ffffff !important;
        text-decoration: none;
        font-weight: 500 !important;
        font-size: 1rem !important;
    }

    .f_list li:hover {
        text-decoration: underline;
    }

    .wp_list > li,
    .cp_list > li {
        height: 140px;
    }

    .cat .accordion-button::after {
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E") center no-repeat;
        transform: none;
    }

    .lv_1 .accordion-body {
        padding: 0.4rem 0.2rem;
    }

    .lv_1 {
        flex-direction: row;
        height: 27rem;
    }

    .lv_1 > div:first-child {
        height: 100%;
        margin-bottom: 0;
    }

    .lv_3 > div:first-child,
    .lv_4 > div:first-child,
    .lv_5 > div:first-child,
    .lv_6 > div:first-child,
    .lv_7 > div:first-child {
        margin: 2.5rem 0 2.5rem;
    }

    .lv_3 > div:nth-child(2) .imgcont,
    .lv_4 > div:nth-child(2) .imgcont,
    .lv_5 > div:nth-child(2) .imgcont,
    .lv_6 > div:nth-child(2) .imgcont,
    .lv_7 > div:nth-child(2) .imgcont {
        padding: 0;
    }

    .lv_3 > div:nth-child(2) {
        padding: 0;
    }

    .ad1 > div {
        margin-bottom: 0;
    }

    #avail_select label,
    #sex_select label {
        font-size: 0.8rem !important;
        font-weight: 500 !important;
        font-family: "Poppins", sans-serif !important;
        padding-top: 0.25rem;
    }

    #hd_banner {
        width: 100%;
        height: 70vh;
    }

    #pd_banner {
        width: 100%;
        height: 25rem;
    }

    .pd_lft-1 {
        height: 35rem;
    }

    .pd_lft-2 p {
        margin: 0 0 0.5rem 0;
    }

    .pd_lft-2 > div {
        padding-left: 1.5rem;
        padding-top: 1.5rem;
    }

    .pd_lft-2 p:nth-child(2),
    .pd_lft-2 span {
        font-weight: 400 !important;
    }

    .prc {
        font-size: 1.8rem !important;
    }

    #item_dsp1 {
        height: 83%;
        margin-bottom: 2%;
    }

    #item_dsp2 {
        height: 15%;
    }

    #item_dsp2 .item {
        flex-basis: calc(100% / 5);
    }

    .home {
        padding-top: 1.5rem;
    }

    .card {
        margin-bottom: 4rem !important;
    }

    .card-body {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .grid svg {
        width: 90%;
        height: 100%;
    }

    .product > div > div:first-child {
        margin-bottom: 7rem;
    }

    .category {
        padding-top: 1.5rem;
    }

    .category .grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .grid a,
    .grid svg,
    .c-btm a,
    .c-btm button,
    .w-btm a,
    .cp_list button:not(.btn-close),
    .wp_list button:not(.btn-close) {
        border-color: #adc0cf;
        color: #adc0cf !important;
        fill: #adc0cf;
        font-size: 0.9rem !important;
        background-color: transparent;
    }

    .grid a:hover,
    .c-btm a:hover,
    .c-btm button:hover,
    .w-btm a:hover,
    .cp_list button:not(.btn-close):hover,
    .wp_list button:not(.btn-close):hover {
        background-color: rgba(3, 0, 31, 0.8);
        color: #ffffff;
        fill: #ffffff;
    }

    .grid a:hover svg {
        fill: #ffffff;
    }

    .f-top > div {
        width: calc((100% / 3) - 2rem);
    }

    .f-top > div:nth-child(2),
    .f-top > div:nth-child(3) {
        padding-top: 0;
    }

    .f-top h2 {
        font-size: 1.15rem !important;
        position: relative;
    }

    #cartlistLabel,
    #wishlistLabel {
        font-size: 1.15rem !important;
        margin: 0;
        font-weight: 700 !important;
    }

    .item_count span {
        font-size: 0.8rem !important;
        font-family: "Poppins", sans-serif !important;
        font-weight: 400 !important;
    }

    header button > svg {
        margin-top: 0.05rem;
        margin-right: 0.65rem;
    }

    .c-mid p,
    .w-mid p,
    .cp_list li p {
        font-size: 0.9rem !important;
        font-weight: 400 !important;
    }

    .c-mid p:first-child,
    .w-mid p:first-child,
    .cp_list li p:first-child {
        font-size: 0.95rem !important;
        font-weight: 500 !important;
    }

    .c-mid > div > div,
    .w-mid > div > div {
        border-bottom: 1px solid #ced4daba;
        height: 8.75rem;
    }

    .c-top,
    .w-top {
        height: 5%;
    }

    .c-mid {
        height: 65%;
        overflow-y: auto;
    }

    .w-mid {
        height: 84%;
        overflow-y: auto;
    }

    .c-btm {
        height: 30%;
    }

    .w-btm {
        height: 10%;
    }

    .c-btm label,
    .w-btm label {
        font-size: 0.85rem !important;
        font-weight: 400 !important;
        padding-top: 0.2rem;
    }

    .heading {
        font-size: 1.05rem !important;
    }

    .wishlist .input-group > .form-control,
    .cartlist .input-group > .form-control,
    .product .input-group > .form-control {
        flex: 0.1 1 auto;
    }

    .cartlist option,
    .product option {
        font-size: 1.15rem !important;
        font-weight: 400 !important;
    }

    .cartlist select,
    .product select {
        font-weight: 400 !important;
    }

    .cartlist .dropdown-menu li a,
    .product .dropdown-menu li a {
        text-align: start;
        font-weight: 400 !important;
    }

    .cartlist .container > div:nth-child(2),
    .product .container > div > div:nth-child(2),
    .product .container > div:first-child > div:nth-child(2) > div:first-child {
        flex-direction: row;
    }

    .cp_list .col-lg-9,
    .wp_list .col-lg-9 {
        flex-direction: row;
    }

    .cp_list .col-lg-9 > div:nth-child(3) {
        width: 35%;
    }

    .wp_list .col-lg-9 > div:nth-child(3) {
        width: 25%;
    }

    .wp_list > li > div > div:first-child {
        padding-left: 2rem !important;
        padding-right: 3rem !important;
    }

    .cartlist .container > div:nth-child(2) .col-lg-4,
    .product .container > div > div:nth-child(2) .col-lg-4 {
        padding-left: 2rem !important;
    }

    .cp_list .col-lg-5,
    .wp_list .col-lg-5 {
        padding-left: 2rem;
    }

    .rgt .offcanvas-start .btn-close {
        top: 1px;
        right: -43px;
        padding: 0.7em 0.7em;
    }

    .offcanvas-end .offcanvas-header .btn-close {
        top: 1px;
        left: -40px;
        padding: 0.6em 0.65em;
    }

    .f-bottom div {
        text-align: right;
    }

    #accessory_menu::after,
    #footwear_menu::after {
        display: none;
    }
    .ht_wrapper > div:nth-child(2) {
        width: 80%;
    }

    .d_search_bar {
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .ln_1 > div:nth-child(2) {
        margin-top: auto;
        margin-bottom: auto;
    }

    .d_search_bar .form-control {
        border-right: 0;
    }

    .d_search_bar .input-group-text {
        padding: 0.2rem 0.3rem;
        background-color: transparent;
        border-left: 0;
    }

    .header_bottom ul.h_list > li:not(.dropdown-item) button::after {
        display: none;
    }

    .ln_1 > div:nth-child(2) > div:nth-child(3) > div {
        margin-left: 2rem;
    }

    .ln_1 > div:nth-child(2) > div:nth-child(3) > div svg {
        margin-right: 0.7rem !important;
    }

    .home .grid,
    .product .grid,
    .category .grid {
        grid-template-columns: auto auto auto auto;
    }

    .grid svg {
        width: 80%;
        height: 100%;
    }

    .grid a,
    .grid svg,
    .c-btm a,
    .c-btm button,
    .w-btm a,
    .cp_list button:not(.btn-close),
    .wp_list button:not(.btn-close) {
        font-size: 1rem !important;
    }

    .grid a:hover,
    .c-btm a:hover,
    .c-btm button:hover,
    .w-btm a:hover,
    .cp_list button:not(.btn-close):hover,
    .wp_list button:not(.btn-close):hover {
        background-color: rgba(3, 0, 31, 0.8);
        color: #ffffff;
        fill: #ffffff;
    }

    .grid a:hover svg {
        fill: #ffffff;
    }

    .logo a > h4,
    .logo > h4 {
        font-size: 3rem !important;
        font-weight: 700 !important;
        margin-bottom: 0.5rem !important;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div:first-child,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div:nth-child(2),
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div:nth-child(3),
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div:nth-child(4) {
        display: flex;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-next,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-prev {
        display: flex;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-end.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-next {
        transform: translateX(25%);
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-start.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-prev {
        transform: translateX(-25%);
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-end,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-start {
        transform: translateX(0);
    }

    .lv_1 > div:first-child {
        height: 25rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1180px) {
    * {
        font-size: 0.95rem !important;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item .grid > div {
        display: flex;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-next,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-prev {
        display: flex;
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-end.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-next {
        transform: translateX(20%);
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-start.active,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-prev {
        transform: translateX(-20%);
    }

    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-end,
    .home .carousel-inner:not(.lv_1 .carousel-inner) .carousel-item-start {
        transform: translateX(0);
    }

    .lg_mid {
        height: calc(100vh - 174px);
        padding-top: 5rem !important;
    }

    .verify .lg_mid {
        width: 30%;
    }

    .sg_mid {
        height: calc(100vh - 174px);
        padding-top: 5rem !important;
    }

    .lg_mid > div {
        width: 40%;
    }

    .lg_mid > div:nth-child(2) > form > div {
        width: 75%;
    }

    .sg_mid > div:nth-child(2) > form > div {
        width: 80%;
    }

    .sg_mid > div:nth-child(2) {
        width: 46%;
    }

    .sg_mid > div:nth-child(2) > form > div:first-child > div {
        width: 47%;
    }

    .f-bottom div {
        text-align: right;
    }

    #accessory_menu::after,
    #footwear_menu::after {
        display: none;
    }

    .ht_wrapper > div:nth-child(2) {
        width: 80%;
    }

    .d_search_bar .form-control {
        border-right: 0;
    }

    .d_search_bar .input-group-text {
        padding: 0.2rem 0.3rem;
        background-color: transparent;
        border-left: 0;
    }

    .form-control {
        padding: 0.3rem 0.75rem;
        font-size: inherit !important;
    }

    .ln_1 {
        justify-content: end;
    }

    .ln_1 > div:nth-child(2) {
        justify-content: flex-end;
    }

    .ln_1 > div:nth-child(2) > div:nth-child(3) > div {
        margin-left: 2rem;
    }

    .ln_1 > div:nth-child(2) > div:nth-child(3) > div svg {
        margin-right: 0.7rem !important;
    }

    .ln_1 p {
        margin: 0;
        padding-top: 0.08rem;
        font-size: 1rem !important;
    }

    .lft .accordion {
        margin-bottom: 0.8rem;
    }

    .lft .accordion-body {
        padding-left: 0;
    }

    .lft .accordion-button,
    .lv_1 .accordion-button {
        font-weight: 700 !important;
        font-size: 0.85rem !important;
    }

    .lft > h4 {
        color: #999;
        font-size: 0.8rem !important;
        text-transform: uppercase;
        margin-bottom: 0.8rem;
        margin-top: 0.5rem;
    }

    .lft .accordion-header {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .header_bottom ul.h_list > li:not(.dropdown-item) button::after {
        display: none;
    }

    .f_list li:hover {
        text-decoration: underline;
    }

    .cat .accordion-button::after {
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E") center no-repeat;
        transform: none;
    }

    .lv_1 .accordion-body {
        padding: 0.4rem 0.2rem;
    }

    .lv_1 {
        height: 31rem;
    }

    .lv_1 > div:first-child {
        height: 100%;
    }

    .lv_3 > div:nth-child(2) {
        padding: 0;
    }

    #avail_select label,
    #sex_select label {
        font-size: 0.8rem !important;
        font-weight: 500 !important;
        font-family: "Poppins", sans-serif !important;
        padding-top: 0.25rem;
    }

    #hd_banner {
        width: 100%;
        height: 70vh;
    }

    #pd_banner {
        width: 100%;
        height: 28rem;
    }

    .pd_lft-1 {
        height: 35rem;
    }

    .cartlist .container > div:nth-child(2) .col-lg-4,
    .product .container > div > div:nth-child(2) .col-lg-4 {
        padding-left: 3rem !important;
    }

    .pd_lft-2 p {
        margin: 0 0 0.5rem 0;
    }

    .pd_lft-2 > div {
        padding-left: 1.5rem;
        padding-top: 1.5rem;
    }

    .pd_lft-2 p:nth-child(2),
    .pd_lft-2 span {
        font-weight: 400 !important;
    }

    .prc {
        font-size: 1.8rem !important;
    }

    #item_dsp1 {
        height: 83%;
        margin-bottom: 2%;
    }

    #item_dsp2 {
        height: 15%;
    }

    #item_dsp2 .item {
        flex-basis: calc(100% / 5);
    }

    .home {
        padding-top: 1.5rem;
    }

    .home .grid,
    .product .grid {
        grid-template-columns: auto auto auto auto auto;
    }

    .grid svg {
        width: 90%;
        height: 100%;
    }

    .category .grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .grid a:hover,
    .c-btm a:hover,
    .c-btm button:hover,
    .w-btm a:hover,
    .cp_list button:not(.btn-close):hover,
    .wp_list button:not(.btn-close):hover {
        background-color: rgba(3, 0, 31, 0.8);
        color: #ffffff;
        fill: #ffffff;
    }

    .grid a:hover svg {
        fill: #ffffff;
    }

    .f-top h2 {
        font-size: 1.15rem !important;
        position: relative;
    }

    #cartlistLabel,
    #wishlistLabel {
        font-size: 1.15rem !important;
        margin: 0;
        font-weight: 700 !important;
    }

    header button > svg {
        margin-top: 0.05rem;
        margin-right: 0.65rem;
    }

    .c-mid p,
    .w-mid p,
    .cp_list li p {
        font-size: 0.9rem !important;
        font-weight: 400 !important;
    }

    .c-mid p:first-child,
    .w-mid p:first-child,
    .cp_list li p:first-child {
        font-size: 0.95rem !important;
        font-weight: 500 !important;
    }

    .w-mid {
        height: 84%;
        overflow-y: auto;
    }

    .w-btm {
        height: 10%;
    }

    .wishlist .input-group > .form-control,
    .cartlist .input-group > .form-control,
    .product .input-group > .form-control {
        flex: 0.1 1 auto;
    }

    .cartlist option,
    .product option {
        font-size: 1.15rem !important;
        font-weight: 400 !important;
    }

    .cartlist select,
    .product select {
        font-weight: 400 !important;
    }

    .cartlist .dropdown-menu li a,
    .product .dropdown-menu li a {
        text-align: start;
        font-weight: 400 !important;
    }

    .cp_list .col-lg-9,
    .wp_list .col-lg-9 {
        flex-direction: row;
    }

    .cp_list .col-lg-9 > div:nth-child(3) {
        width: 35%;
    }

    .wp_list .col-lg-9 > div:nth-child(3) {
        width: 25%;
    }

    .wp_list > li > div > div:first-child {
        padding-left: 2rem !important;
        padding-right: 3rem !important;
    }

    .cp_list .col-lg-5,
    .wp_list .col-lg-5 {
        padding-left: 2rem;
    }

    .rgt .offcanvas-start .btn-close {
        top: 1px;
        right: -43px;
        padding: 0.7em 0.7em;
    }

    /* Dashboard */
    #myTab {
        padding-top: 10px;
    }

    #dashboard .nav-link {
        padding: 0.6rem 3rem !important;
    }

    #dashboard .tab-content {
        max-width: 1050px;
        margin: auto;
    }

    #dashboard .lft {
        width: 24%;
        padding-right: 0.5rem;
        margin-top: 1.5rem;
        border-right: 1px dotted #03001e34;
    }

    #dashboard .b_list li {
        display: block;
    }

    .b_list li:hover {
        color: #fff !important;
    }

    #dashboard .card {
        display: flex;
        flex-direction: row;
        border: 1px dotted #03001e34;
        margin-bottom: 1rem !important;
    }

    #dashboard .card img {
        width: 22rem;
    }

    #dashboard .card-title {
        font-size: 0.95rem !important;
        font-weight: 500 !important;
    }

    #dashboard .card-text {
        font-size: 0.95rem !important;
        font-weight: 400 !important;
    }

    #dashboard .rgt .card > .card-body {
        padding-top: 1.5rem;
        padding-right: 2rem;
    }

    #dashboard .rgt .card > .card-body > div:nth-child(2) {
        display: flex;
        flex-direction: row;
    }

    #dashboard .rgt .card > .card-body > div:nth-child(2) * {
        margin-right: 1rem;
        font-weight: 400 !important;
    }

    #products-tab-pane > button {
        position: fixed;
        right: 85px;
        bottom: 60px;
        color: #fff !important;
        border-radius: 50%;
        box-shadow: 0px 5px 8px 3px rgba(70, 70, 70, 0.314);
    }

    .profile > div:nth-child(1) {
        width: 70%;
    }

    .profile > div:nth-child(1) > div:nth-child(1) > p {
        font-size: 1.2rem !important;
    }

    .profile > div:nth-child(2) {
        width: 28%;
        border: 1px solid #adc0cf;
        border-radius: 1rem;
    }

    .profile h2 {
        font-size: 1.2rem !important;
    }

    .profile p {
        font-size: 1.2rem !important;
        font-weight: 400 !important;
    }

    .profile span {
        font-size: 12px !important;
        color: red !important;
    }

    .c_cont {
        width: 50%;
        height: 100px;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 1rem;
        border: 1px solid #adc0cf;
    }

    .gg {
        min-width: 10%;
    }

    .gg p,
    .gg button {
        font-size: 0.95rem !important;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /*  */
}
